header {
  background-color: #0C3B7C;
  color: white;
}

header .container {
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

header .container .logo-container {
  width: 80px;
}

header .container .logo-container img {
  width: 100%;
}

header .container a.button {
  background-color: white;
  color: #0C3B7C;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
}

footer {
  background-color: #0C3B7C;
  color: white;
  padding: 20px 0;
}

footer .container {
  justify-content: center;
}

#homepage ul {
  display: flex;
  flex-wrap: wrap;
}

#homepage ul li {
  flex-basis: 25%;
  margin: 10px 0;
}

#guest-creation {
  margin: auto;
}

#guest-creation .data-input {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#guest-creation .data-input label {
  width: 30%;
}

#guest-creation .data-input input {
  flex-grow: 1;
}

#guest-creation .submit-button {
  text-align: center;
}

#guest-creation .submit-button button {
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  color: white;
  background-color: #0C3B7C;
  border-radius: 20px;
  border: 1px solid white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
}

main .container {
  padding: 30px 0;
  color: #0C3B7C;
}

